/* This file should not contain any color changes*/

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Gill Sans", sans-serif;
    min-height: 100vh;
    min-width: 320px;
}    

a, button{
    cursor: pointer;
}

img{
    object-fit: cover;
}

input{
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
        display: none;
    }
    [type=number] {
        -moz-appearance: textfield;
    }
}

select{
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(139, 139, 139);
}