:root{
    --clr-main: rgb(189, 74, 235);
    --clr-light: rgb(228, 228, 228);
    --clr-light-transparent: rgba(248, 248, 248, 0.8);
    --clr-red: rgb(252, 88, 88);
    --clr-green: rgb(72, 209, 84);
    --clr-blue: rgb(39, 139, 210);
    --clr-dark: rgba(30, 30, 30, 0.697);
    --clr-black: black;
}