:root{
    --clr-main: rgb(182, 34, 227);
    --clr-light: rgba(216, 216, 216, 0.773);
    --clr-light-transparent: rgba(241, 241, 241, 0.268);
    --clr-red: rgb(252, 88, 88);
    --clr-green: rgb(72, 209, 84);
    --clr-blue: rgb(51, 131, 235);
    --clr-dark: rgba(31, 31, 31, 0.697);
    --clr-black: black;
}