.container{
    width: 100%;
    background-color: var(--clr-black);
    position: fixed;
    bottom: -1px;
    border-top: 1px solid var(--clr-light);
    height: 45px;
    transition: ease-in-out 0.3s;
    overflow-y: hidden;

    .controller{
        position: sticky;
        background-color: black;
        top: 0;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        
        div{
            display: flex;
            gap: 5px;
        }

        .title{
            width: 100%;
            color: white;
        }
    }

    .print{
        padding: 0.5rem;

        .warning{
            color: var(--clr-red);
        }

        p, span{
            color: white;
        }

        button:first-child{
            border-color: var(--clr-main);
        }

        button{
            display: block;
            margin-bottom: 0.5rem;
            border-left: 2px solid var(--clr-light);
            border-right: 2px solid var(--clr-light);
            width: 100%;
            text-align: left;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;

            p{
                display: flex;
                align-items: center;
                svg{
                    color: white;
                    display: flex;
                    align-items: center;
                }
                span{
                    margin-left: 0.5rem;
                }
            }

            &:hover .copy{
                display: block;
            }

            .copy{
                display: none;
            }

            &:hover{
                border-color: var(--clr-main);
            }
        }
    }
}

.open{
    height: 300px;
    overflow-y: auto;
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}