.container{
    .box{
        padding: 0.7rem 0;

        .question{
            margin-bottom: 0.5rem;
        }
        .answer{
            padding: 0.5rem;
            background-color: rgb(246, 246, 246);
            border-radius: 5px;
            font-weight: 200;
            white-space: pre-line;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                width:100%;
            }
            &:hover *{
                color: var(--clr-main);
            }
        }

    }
}