.container{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
    max-width: 800px;
    gap: 0.5rem;
    margin-bottom: 2rem;

    .sidebar, .main, .navbar{
        padding: 0.2rem;
        border-radius: 5px;
    }

    .navbar{
        grid-area: navbar;
    }

    .sidebar{
        grid-area: sidebar;
    }

    .main{
        grid-area: main;
    }
}